<div class="container-site"> 
  <!-- Row containing the new form link and the search form -->
  <div class="row input-field" style="margin-top: 40px !important; margin-bottom: -50px !important">
    <div class="col l3 s4">
      <a class="btn-floating btn-large waves-effect waves-light red darken-4" href="/destinations/new"><i class="material-icons">add</i></a>
    </div>
    <div class="col offset-l5 l4 s8">
      <div class="row">
        <form action="/destinations/search" method="POST" role="search"> 
          <div class="col l8 s6">
            <input type="text" name="query" class="validate search-form" placeholder="Name of Country">
          </div>
          <div class="col l4 s6">
            <button class="btn waves-effect waves-light red darken-4 center-align search-form" type="submit"><i class="material-icons right">search</i></button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12 center-align">
      <h1>Destinations</h1>
    </div>
  </div>
  <div class="divider" style="margin-bottom: 45px"></div>

  <!-- Cards with every destination -->
  <div class="row">
    <% @destinations.each do |destination| %>
    <div class="col l6 s12 destImg">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/destinations/<%= destination.id %>">
            <img class="activator" src="<%= destination.photo_url %>" alt="<%= destination.name %> photo">
          </a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            <a href="/destinations/<%= destination.id %>"><%= destination.name %></a><i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 center-align">
            <a href="/destinations/<%= destination.id %>"><%= destination.name %></a><i class="material-icons right">close</i>
          </span>
          <p class="index-inter-fact center-align"><%= destination.interesting_fact %></p>
          <div class="row center-align">        
            <a class="waves-effect waves-light btn card-btn" href="/destinations/<%= destination.id %>/edit"><i class="material-icons right">mode_edit</i>Edit</a>
          <div class="row center-align">
            <form method="post" action="/destinations/<%= destination.id %>/delete">
              <button class="btn waves-effect waves-light light-blue darken-1 card-btn" type="submit" name="action"><i class="material-icons right">delete</i>Delete</button>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>  
    <% end %>
  </div>
</div>
